.kudoContainer {
  background-color: white;
  margin-top: 2em;
}
.kudoDetails {
  text-align: left;
}
.kudoParagraph {
  text-align: initial;
}
.date {
  font-weight: lighter;
  font-size: 0.9em;
}
.img {
  border-radius: 0.2em;
}
