.container {
  position: relative;
}

.navbar {
  display: flex;
  z-index: 1;
}
.topNav {
  height: 6em;
}
.userName {
  padding-left: 9em;
  height: 100%;
  display: flex;
  align-items: flex-end;
}
.kudosNav {
  height: 100%;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 900px) {
  .navbar {
    padding-top: 3em;
  }
}
